html,
body,
#root,
#root > .ant-design-pro {
  height: 100%;
}

.ant-layout-header.ant-pro-fixed-header {
  background: #fcfcfc !important;
  user-select: none;
}

.ant-pro-top-nav-header-logo {
  a {
    cursor: default;
  }
}

.ant-layout-content {
  min-height: calc(100vh - 55px);
}

.ant-popover-inner-content {
  padding: 0;
}
